{% extends 'base.html' %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Редактор шаблонов ответа</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i> Новый шаблон</a>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="form-group col-12">
                <label>Категория</label>
                <select class="form-control">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">

            <table class="tree table col-xs-12">
                <th>Наименование</th>
                <th>Дата последнего использования</th>
                <th></th>
                <tr>
                    <td>Управляющая компания вашего дома устранила проблему</td>
                    <td>28.07.2019</td>
                </tr>
                <tr>
                    <td>Необходимо написать письмо в управляющую компанию от совета МКД</td>
                    <td>27.07.2019</td>
                </tr>
            </table>

        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/jquery.treegrid.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.treegrid.css">

    <script type="text/javascript">
        $('.tree').treegrid();
    </script>
{% endblock %}